<h1>View excel files data!</h1>
<div class="">
  <p class="mat-body-1">
    In this app you will upload a CSV file and it will show the contents of the
    file in a table with this rules:
  </p>
  <ul class="mat-body-1">
    <li>The first and last name must have at least three letters.</li>
    <li>The mobile number pattern must be checked.</li>
    <li>
      The national code pattern, which can be searched on the Internet, must be
      checked.
    </li>
    <li>The age should be between 1 and 100.</li>
  </ul>
  <p class="mat-body-1">
    Also, the average age of all people on the current page will be displayed in
    a box above the table.
  </p>
</div>
