<h1>View excel files data!</h1>
<div class="tw-mb-8">
  <p class="mat-body-1">
    In this app you will upload a CSV file and it will show the contents of the
    file in a table with this rules:
  </p>
  <ul class="mat-body-1">
    <li>The first and last name must have at least three letters.</li>
    <li>The mobile number pattern must be checked.</li>
    <li>
      The national code pattern, which can be searched on the Internet, must be
      checked.
    </li>
    <li>The age should be between 1 and 100.</li>
  </ul>
  <p class="mat-body-1">
    Also, the average age of all people on the current page will be displayed in
    a box above the table.
  </p>
</div>

<mat-divider />

<div
  class="tw-grid xl:tw-grid-cols-4 lg:tw-grid-cols-3 md:tw-grid-cols-2 tw-grid-cols-1 tw-gap-4 tw-my-8"
>
  <mat-card class="lg:tw-col-span-2 tw-col-span-1">
    <mat-card-content>
      <app-file-upload />
    </mat-card-content>
  </mat-card>
</div>

<mat-divider />

<div
  class="tw-grid xl:tw-grid-cols-4 lg:tw-grid-cols-3 md:tw-grid-cols-2 tw-grid-cols-1 tw-gap-4 tw-my-8"
>
  <mat-card
    class="lg:tw-col-span-2 tw-col-span-1"
    *ngFor="let doc of documents()"
  >
    <mat-card-header>
      <mat-card-title>{{ doc.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="mat-body-1">
        Number of Sheets: {{ Object.keys(doc.sheets).length }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
