<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    mode="over"
    [opened]="isSideNavOpen()"
  >
    <mat-toolbar>Recent files</mat-toolbar>
    <mat-nav-list>
      <!--TODO: list of uploaded files-->
      <a mat-list-item href="#" (click)="drawer.close()"
        >list of uploaded files</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <header>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          matTooltip="Recent uploaded files"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Boghrat</span>
      </mat-toolbar>
    </header>
    <div class="tw-container tw-mx-auto tw-py-4">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
